<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Gestion des games</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Gestion games</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{ListeGames}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                games
            </a>
            <div class="dropdown-menu">
                <a th:if="${(isAdmin ?: false) or (isAgent ?: false)}" class="dropdown-item"
                   th:href="@{/showCreate}">Ajouter</a>
                <a class="dropdown-item" th:href="@{ListeGames}">Lister</a>
            </div>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar-drop" data-toggle="dropdown">
                <span th:text="${username ?: ''}"></span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{logout}">Logout</a>
                <a class="dropdown-item" href="#">Profile</a>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>